[tool.poetry]
name = "bitwarden-kv"
version = "0.5.0"
description = ""
authors = ["Afirium <adw.rpv@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
